/*Start of needed (every page needs this)*/
body {
	background-color: black;
	font-size: 20px;
}
.nav-item{
	margin: auto;
}

.navbar-nav{
	width: 100%;	
}

.dropdown-menu > a{
	color: lightgray;
}

.foot{
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	font-size: 100px;

}

.bottom_pic {
	float: left;
}

.bottom_text{
	color: white;
	font-size: 12px;
	text-align: center;
}

.bottom_text2{
	text-align: center;
	color: white;
	font-size: 12px;
	margin: auto;
	padding: 30px 0px 0px 150px; 
}

nav a:hover{
	color:lime !important;
}



.title_box{
	margin-top: 30px;
	border-radius: 10px;
	border: 5px solid #3F3F3F;
	background-color: white;
	text-align: center;
	width: 80%;

}

.title_row{
	margin: auto;

}

.title {
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
	float: left;
}


.logo{
	margin: auto;
	float: right;
}

/*End of needed*/

.main_content{
	margin-top: -16%;
}


.side_nav{
	position:sticky;
	left:0px;
	top:40%;
/*	border: 2px solid red;
*/	text-align: center;
	margin-top: 50px;
}

.btn_holder{
	/*border: 2px solid blue;*/
	width: 12%;
	margin-left: 3%;
}

.nav-link.js-scroll-trigger{
	color: white;
	margin-bottom: 10px;
	border-bottom: 2px solid lime;

}

.bg-light{
	max-width: 100%
}

/*!
 * Start Bootstrap - Scrolling Nav (https://startbootstrap.com/template-overviews/scrolling-nav)s
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-scrolling-nav/blob/master/LICENSE)
 */


.letters {
  padding-top: 50px;
  padding-bottom: 50px;
  /*border: 2px solid red;*/
  max-width: 100%;
  background-color: #F1F1F1;
}

.letters2{
  padding-top: 50px;
  padding-bottom: 50px;
  /*border: 2px solid red;*/
  max-width: 100%;
  background-color: white;
}

.row{
	/*border: 2px solid blue;*/
}

.col-lg-8.mx-auto{
	/*border: 2px solid green;*/
	max-width: 100%;


}

.lead{
	/*border: 2px solid yellow;*/
	font-weight: 400;
	

}

.container{
	/*border: 4px solid pink;*/
}

.bg-dark{
	width: 100%;
		border: 4px solid yellow;

}