body {
	background-color: black;
}

.main_body{
	float: left;
	background-color: white
}

.program-card{
	margin: auto;
	margin-bottom: 30px;
}

.program_image{
	height: 200px;
	width: 175px;
	align-self: center;
}

.body_con{
}

.body_text{
	text-align: center;
	margin: 10px 10px 10px 10px;
}

.card-text{
	/*border: 2px solid pink;	*/

}

.extra{
	margin: 0px 0px 40px 0px; 
}


.row1 {
	margin: auto;
}

.nav-item{
	/*border: 2px solid pink;	*/
	margin: auto;
}

.navbar-nav{
		/*border: 2px solid red;*/
		width: 100%;	
}


.program_body{
	background-color: red;
	width: 100px;
	height: 100px;
}

.foot{
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;

}

.bottom_pic {
	float: left;
}

.bottom_text{
	color: white;
	font-size: 12px;
	text-align: center;
}

.bottom_text2{
	text-align: center;
	color: white;
	font-size: 12px;
	margin: auto;
	padding: 30px 0px 0px 150px; 
}